<!DOCTYPE html>
<html>
<head>
	<title>Weather App - 404</title>
	<link rel="icon" href="/images/weather.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p1>{{errorMessage}}</p1>
	</div>
	<br><br>{{>footer}}
</body>
</html>