<!DOCTYPE html>
<html>
<head>
	<title>Weather App - About</title>
	<link rel="icon" href="/images/weather.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<img class="portrait" src="images/Robot.PNG"></img>
	</div>
	<br><br>{{>footer}}
</body>
</html>